*{
    margin: 0;
    padding: 0;
}

.container{
    height:100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.logo{
    width: 10%;
    padding:25px 140px;
    font-size: 25px;
    /* margin-top: 10px;
    height: 15px; */
    color: white;
}

.nav{
    margin-top: 40px;
    margin-right: 40px;
    width: 479px;
    height: 30px;
    float: right;
}

a{
    font-size: 1em;
    color: white;
    text-decoration: none;
    padding: 1vw;
    
}
