*{
    margin: 0px;
    padding: 0px;
    position: relative;
}
h1{
    text-align: center;
    background-color: red;
    background-image: linear-gradient(to right, rgb(17, 17, 17) , rgb(224, 50, 20));
    font-size: 20px;
    padding: 10px 20px;
}

.nav{
    width: 100%;
    background-color: black;
   
}
.container-menu{
    width: 80%;
    margin: 0 auto;
    padding: 1px 1px;
    display: flex;
    /* padding: 1rem 0px; */
    color: white;
    align-items: center;
    justify-content: space-between;
    
}
.menu{
    display: flex;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.right-bar{
    width: 80%;
    display: flex;  
    margin: 5px;
    align-items: center;
    justify-content: center;
}
.nav a{
    color: white;
    padding: 6px;
    text-decoration: none;
}

.nav input[type=text]{
    width: 60%;
}

nav{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.banner img{
    object-fit: cover;    
    height: 50vh;
    width: 100%;
    margin: -3px;
}
.banner-text{
    position: absolute;
    top: 15%;
    color: azure;
    padding: 50px;
    width: 50%;
    margin-top: 8px;
    margin-left: 8%;
    background-color: rgb(0,0,0,0.5);
}
.banner-text h4{
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
.banner-text p{
    font-size: 20px;
    
}
.jordon{
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 19px;
    
}
.trending{
    background-color: grey;
    width: 80%;
    padding: 10px;
    padding: 5px;
}
.trending img{
    height: 9rem;
    width: 8em;
    text-align: left;
}
.box1{
    border: 1px solid black;
    background-color: rgb(17,17,17,0.7);
    color: white;
    text-align: center;
    margin: 4px;
}
.box2{
    border: 1px solid black;
    background-color: rgb(17,17,17,0.7);
    color: white;
    text-align: center;
    margin: 4px;
}
.box3{
    border: 1px solid black;
    background-color: rgb(17,17,17,0.7);
    color: white;
    text-align: center;
    margin: 4px;
}
.trending img h3{
    background-color: rgb(17,17,17);
    border: 2px solid;
}
.image_container{
    display: flex;
}
.container{
    background-image: linear-gradient(to right,rgb(56,56,56), rgb(17,17,17));
    background-color: rgb(17,17,17);
    height: 35rem;
    padding: 81px 103px;
}
.winn{
    background-image: linear-gradient(to right,rgb(17,17,17),rgb(255, 0, 0));
    background-color: red;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 18px;
    position: relative;

}
.winn img{
    border-radius: 50%;
    border: 2px;
    text-align: center;
    height: 45%;
    width: 30%;
    float: right;
}
.winn aside{
    font-size: 22px;
    color: white;
    width: 42%;
    padding: 10px;
}
